.App {
  margin-top: 25px;
}

.sound-tile {
  border: 3px solid #66101F;
  border-radius: 10px;
  background-color: #CECCCC;
  color: #9E2A2B;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.sound-tile:hover {
  background-color: #a4a1a1;
}